@font-face
{
	font-family: RapierZero;
	src: url('../fonts/Rapier Zero.otf');
}

* {
	outline: 1px red solid;
}

body {
	height: 100vh;
	min-width: 75rem;
	min-height: 52rem;
	
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top,  #499bea 25%, #e8e8e8 50%, #499bea 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#499bea), color-stop(50%,#e8e8e8), color-stop(75%,#499bea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* IE10+ */
	background: linear-gradient(to bottom,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea',GradientType=0 ); /* IE6-9 */
}

/* full-page size, dark semi-transparent layer for a dim effect */
/* Anything with a Z value higher than this will not be dimmed. */
#dim_page_layer {
	display: none; /* hide this dimming layer initially */
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7; /* Safari, Opera */
	-moz-opacity:0.70; /* FireFox */
	filter: alpha(opacity=70); /* IE */
	z-index: 10;
}

.dialog {
	z-index: 20;
}

#project_info_dialog {
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 20%;
	right:20%;
	
	border-width: 5px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	background-color: white;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5rem;
	color: black;
	text-align: center;
}

#dialog_project_pic {
	height: 50%;
}

#dialog_project_name {
	font-weight: bold;
/* 	margin-top: 1rem;
	margin-bottom: 1rem; */
}

#dialog_project_description {
	/* margin-bottom: 1rem; */
}

.dialog_button {
	background-color: white;
	font-size: 2rem;
	color: #499bea;
}

#flex_container {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#title_div {
	text-align: center;
	font-family: RapierZero;
	font-size: 5rem;
	color: white;
	margin-top: 2rem;
	
	background: -webkit-linear-gradient(top, white 50%, silver 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.flex_spacer {
	flex: auto;
}

.carousel_container {
}

.carousel {
}

.carousel_panel {
	border-width: 5px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	background-color: white;
}

.carousel_panel.glowing {
	border-color: gold;
}

#carousel_controls {
	width: 70rem;
	height: 6rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.arrow_button {
	height: 100%;	
	align-self: flex-start;
	flex: none;
}


#project_name {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 3rem;
	color: white;
	text-align: center;
}

