@font-face
{
	font-family: RapierZero;
	src: url('../fonts/rapier zero.otf');
}

* {
	outline: 1px red solid;
}

body {
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top,  #499bea 25%, #e8e8e8 50%, #499bea 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#499bea), color-stop(50%,#e8e8e8), color-stop(75%,#499bea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* IE10+ */
	background: linear-gradient(to bottom,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea',GradientType=0 ); /* IE6-9 */
}

#flex_container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	height: 100vh;
}

#title_div {
	text-align: center;
	font-family: RapierZero;
	font-size: 5rem;
	color: white;
	margin-top: 2rem;
	
}

.flex_spacer {
	flex: auto;
}

.carousel_container {
}

.carousel {
}

.carousel_panel {
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
 	/* opacity: 0.7; */
}
