/* line 5, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "RapierZero";
  src: url('../fonts/Rapier Zero.otf?1400540480') format('opentype');
}
@font-face {
  font-family: "BebasNeue";
  src: url('../fonts/BebasNeue.otf?1400591397') format('opentype');
}
/* line 5, ../sass/main.scss */
* {
  outline: 1px red solid;
}

/* line 9, ../sass/main.scss */
.full-height, html, body, #flex_container {
  height: 100%;
}

/* line 13, ../sass/main.scss */
.hidden {
  display: none;
}

/* line 21, ../sass/main.scss */
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiM0OTliZWEiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjNDk5YmVhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(25%, #499bea), color-stop(50%, #ffffff), color-stop(75%, #499bea));
  background-image: -moz-linear-gradient(#499bea 25%, #ffffff 50%, #499bea 75%);
  background-image: -webkit-linear-gradient(#499bea 25%, #ffffff 50%, #499bea 75%);
  background-image: linear-gradient(#499bea 25%, #ffffff 50%, #499bea 75%);
  min-height: 47rem;
  min-width: 80rem;
  position: relative;
  width: 100%;
}

/* line 32, ../sass/main.scss */
#dim_page_layer {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background-color: black;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

/* line 43, ../sass/main.scss */
.dialog {
  -moz-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  -webkit-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
  top: 50%;
  left: 45%;
  position: absolute;
  z-index: 20;
}

/* line 51, ../sass/main.scss */
.panel-appearance, #project_info_dialog, .carousel_panel {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

/* line 59, ../sass/main.scss */
#project_info_dialog {
  color: black;
  padding-left: .2rem;
  padding-right: .2rem;
  text-align: center;
}

/* line 67, ../sass/main.scss */
#dialog_project_pic {
  height: 25rem;
}

/* line 71, ../sass/main.scss */
#dialog_project_name {
  font-family: BebasNeue;
  font-size: 3.5rem;
}

/* line 76, ../sass/main.scss */
#dialog_project_description {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
}

/* line 82, ../sass/main.scss */
.dialog_button {
  margin-top: .8rem;
  background-color: white;
  font-size: 2rem;
  color: #499bea;
}

/* line 89, ../sass/main.scss */
#flex_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
}

/* line 101, ../sass/main.scss */
#title_div {
  color: white;
  font-family: RapierZero;
  font-size: 5rem;
  margin-top: 2rem;
  text-align: center;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2MwYzBjMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ffffff), color-stop(80%, #c0c0c0));
  background-image: -moz-linear-gradient(#ffffff 50%, #c0c0c0 80%);
  background-image: -webkit-linear-gradient(#ffffff 50%, #c0c0c0 80%);
  background-image: linear-gradient(#ffffff 50%, #c0c0c0 80%);
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

/* line 115, ../sass/main.scss */
.flex_spacer {
  flex: auto;
}

/* line 129, ../sass/main.scss */
.carousel_panel.glowing {
  border-color: gold;
}

/* line 133, ../sass/main.scss */
#carousel_controls {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 6rem;
  justify-content: space-between;
  width: 70rem;
}

/* line 143, ../sass/main.scss */
.arrow_button {
  flex: none;
}

/* line 147, ../sass/main.scss */
.nonselectable {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 151, ../sass/main.scss */
#project_name {
  color: white;
  font-family: BebasNeue;
  font-size: 3rem;
  text-align: center;
}
