@font-face
{
	font-family: RapierZero;
	src: url('../fonts/rapier zero.otf');
}

* {
	outline: 1px red solid;
}

body {
	height: 100vh;
	min-width: 75rem;
	min-height: 52rem;
	
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top,  #499bea 25%, #e8e8e8 50%, #499bea 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#499bea), color-stop(50%,#e8e8e8), color-stop(75%,#499bea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* IE10+ */
	background: linear-gradient(to bottom,  #499bea 25%,#e8e8e8 50%,#499bea 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea',GradientType=0 ); /* IE6-9 */
}

#flex_container {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#title_div {
	text-align: center;
	font-family: RapierZero;
	font-size: 5rem;
	color: white;
	margin-top: 2rem;
	
	background: -webkit-linear-gradient(top, white 50%, silver 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.flex_spacer {
	flex: auto;
}

.carousel_container {
}

.carousel {
}

.carousel_panel {
	border-width: 5px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	background-color: white;
 	/* opacity: 0.7; */
}

.carousel_panel.glowing {
	border-color: gold;
}

#carousel_controls {
	width: 70rem;
	height: 6rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.arrow_button {
	height: 100%;	
	align-self: flex-start;
	flex: none;
}


#project_name {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 3rem;
	color: white;
	text-align: center;
}

