@import 'base';


// for debugging 
// * {
//   outline: 1px red solid;
// }

.full-height {
  height: 100%;
}

.hidden {
  display: none;
}

html {
  @extend .full-height;
}

body {
  @extend .full-height;
  @include background-image(linear-gradient($primary-color 25%, $secondary-color 50%, $primary-color 75%));
  min-height: 47rem;
  min-width: 80rem;
  position: relative;
  width: 100%;
}

// full-page size, dark semi-transparent layer for a dim effect 
// Anything with a Z value higher than this will not be dimmed. 
#dim_page_layer {
  @include opacity(.7);
  background-color: black;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.dialog {
  @include translate(-40%, -50%);
  top: 50%;
  left: 45%;
  position: absolute;
  z-index: 20;
}

.panel-appearance {
  @include border-radius(10px);
  background-color: $panel-background-color;
  border-color: $panel-border-color;
  border-style: solid;
  border-width: 5px;
}

#project_info_dialog {
  @extend .panel-appearance;
  color: black;
  padding-left: .2rem;
  padding-right: .2rem;
  text-align: center;
}

#dialog_project_pic {
  height: 25rem;
}

#dialog_project_name {
  font-family: BebasNeue;
  font-size: 3.5rem;
}

#dialog_project_description {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
}

.dialog_button {
  margin-top: .8rem;
  background-color: $secondary-color;
  font-size: 2rem;
  color: $primary-color;
}

#flex_container {
  @extend .full-height;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
}

#title_div {
  color: $secondary-color;  // fallback if text gradient doesn't work
  font-family: RapierZero;
  font-size: 5rem;
  margin-top: 2rem;
  text-align: center;
  
  // color gradient on the text by making a background gradient behind transparent text 
  @include background-image(linear-gradient($secondary-color 50%, $tertiary-color 80%));
  @include background-clip(text);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.flex_spacer {
  flex: auto;
}

.carousel_container {
}

.carousel {
}

.carousel_panel {
  @extend .panel-appearance;
}

.carousel_panel.glowing {
  border-color: $trim-color;
}

#carousel_controls {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 6rem;
  justify-content: space-between;
  width: 70rem;
}

.arrow_button {
  flex: none;
}

.nonselectable {
  @include user-select(none);
}

#project_name {
  color: $secondary-color;
  font-family: BebasNeue;
  font-size: 3rem;
  text-align: center;
}
